[2014-05-23 17:43] PascalTurbo opened #12 "Disable influxdb-rails' main Feature: Logging"
Hi,

this Feature-Request may sound crazy to you but I'm misusing influxdb-rails for an other task: accessing influxdb from an rails application.

Sure, it would be no problem using influxdb-ruby but influxdb-rails brings the application-wide accessible InfluxDB::Client and an comfortable initializer / configuration.

Maybe it would be easy to offer a configuration for disabling the logging featur

[2015-07-26 01:03] rzane opened #19 "ActiveRecord query performance metrics"
ActiveSupport::Notifications offers hooks for query execution that would allow this gem to measure query stats as well.

Here's some example code (originally written for use with statsd): http://www.mikeperham.com/2012/08/25/using-statsd-with-rails/

[2015-09-09 14:56] kbrock opened #23 "Upgrade to influx 0.9"
Hi,

There is a big bold "Doesn't work with 0.9"
Could you share what needs to be done?

I'll start putting together some tasks, but any pointers would be appreciated.
I'll convert into a check list and do my best to tackle them.

[2015-09-09 15:42] kbrock commented on #23
@beckettsean sorry the issue is vague. I am having trouble finding docs on changes to the api other than the introduction of tags.

I'm new to influxdb, so not sure the implications of this.
However, I have introduced instrumentation to rails code in the past with statsd/graphite. So this seems straight forward, if I knew what I was looking for.

[2015-09-09 18:45] beckettsean commented on #23
This page describes the changes from a non-code perspective: https://influxdb.com/docs/v0.9/concepts/08_vs_09.html. The biggest issue is that the write path no longer uses JSON, but the line protocol. There are lots of small syntax tweaks to the InfluxQL as well.

I would advise looking at the other libraries for the PRs that updated them to 0.9, or perhaps asking the maintainers what was needed.

[2015-09-09 20:16] kbrock commented on #23
thanks

[2016-01-11 15:42] klippx opened #25 "Broken gem"
Hello,

Which version of influxdb and influxdb-rails gem are you using?

I was evaluating to use influxdb-rails in our project, and while trying to follow the README on this repo I got many background errors, I found some discrepancies with how it uses influxdb-ruby;

![screen shot 2016-01-11 at 16 25 59](https://cloud.githubusercontent.com/assets/2785359/12237927/93204c8e-b881-11e5-9dd8-f48b0ad50

[2016-01-12 15:31] bmxpert1 commented on #25
@klippx it looks like I totally missed that write_point method call in the instrumentation.rb when making a pull request a few weeks back to upgrade the influxdb-ruby version. I just made a pull-request, #26. Thanks for reporting this.

[2016-02-22 06:17] aegaas commented on #25
I just started evaluating this gem for a project as well, and while I'm not sure this is related, I'm getting the following errors in my logs, and of course no data on the influxdb side:

Any help on a new compatible release would certainly be appreciated!

[2016-02-22 08:03] klippx commented on #25
@aegaas I have seen this is well, as you can see it has a trailing space that messes it up.

Fix is to set specific values in
[code]

[2016-02-22 13:15] bmxpert1 commented on #25
@aegaas @klippx just for the record, I think this is an issue with influxdb-ruby which the PR https://github.com/influxdata/influxdb-ruby/pull/121 would fix. Haven't seen anything lately on getting that merged in though...

[2016-02-22 13:18] bmxpert1 commented on #25
But on the other hand, having whitespace on the end of a measurement name would probably cause future confusion, so @klippx's advice to remove that makes more sense.

[2016-02-23 03:40] aegaas commented on #25
This is very strange guys, I have these series_name_for_*_runtimes values set like above, but I still get the error message like above, with the space. Perhaps there is something else at play here introducing the space?

[2016-02-23 04:44] aegaas commented on #25
I forked the repo and used the gem straight from git. It seems to be working fine now! Time to publish a new gem :+1:

[2016-03-07 13:15] zenati opened #27 ""error":"unable to parse 'rails.controller ': invalid field"
Hello, I'm getting the following error. I didn't change the initializer and server is running localhost:8083 with default authentication.

[code]

[code]

Any Idea ?

[2016-03-07 14:21] bmxpert1 commented on #27
@zenati I'm pretty sure this came up recently in #25 as well. The rubygems version of the repo has not been updated in a long while - https://rubygems.org/gems/influxdb-rails/versions/0.1.10. Try pointing to the github version directly in your rails project:

[code]

The better solution obviously being to publish a new version - but I'm not one of the admins :\ Although master is currently in a sl

[2016-03-07 17:11] zenati commented on #27
@bmxpert1 Thanks, it works but there is still this error:
[code]

Any Idea?

[2016-03-07 23:38] bmxpert1 commented on #27
@zenati I personally have not run into this, but I found this issue on the [influxdb-ruby](https://github.com/influxdata/influxdb-ruby) project which looks very similar: https://github.com/influxdata/influxdb-ruby/issues/116

[2016-03-22 22:47] robwdux opened #28 "Issue a release for v0.2.0"
From the Readme: "This library is now updated to require influxdb-ruby v0.2.0 and greater, meaning that only InfluxDB v0.9.x and higher will be supported."

Current release is v0.1.10

[2016-03-22 22:48] robwdux commented on #28
I realize that you can install from the git repo, just don't understand why a gem wasn't cut when support was added for v0.9.x

[2016-03-24 14:30] thom-nic commented on #12
I was looking for (I think?) the same thing as OP.  I don't care about rails controller or DB query metrics, but I *do* want to push my own timeseries data to influx from my rails app. So will changing the `config.logger` disable those rails metrics?

[2016-04-13 13:28] thom-nic commented on #12
**Update**: While @nickjacob's suggestion will disable rails logging from influxdb-rails code it I'm pretty sure changing the logger level won't prevent app metrics (e.g. controller runtimes, render exceptions, etc.) from being pushed to InfluxDB.  I believe @PascalTurbo was asking how to disable **metrics collection**, not logging in the `Rails.logger` sense.

After browsing the codebase I think

[2016-04-19 18:26] mbajur commented on #27
Guys,
i've tried installing influxdb-rails from git master but it still gives me the same error as in issue (well, almost)

    InfluxDB::Rails.client.write_point("events", {url: "/foo", user_id: 1})
    # Cannot write data: #<InfluxDB::Error: {"error":"unable to parse 'events ': invalid field format"}

any ideas / hot fixes?

ruby 2.2.1
rails 4.2.0
influxdb-rails 10016d0b0fa2c1fefcf14e18347ef3dcd

[2016-04-26 17:55] ranchodeluxe commented on #27
same issues here:

ruby 2.2.1
rails 3.2.22.1
influxdb (0.2.6)
influxdb-rails (0.1.10)

[2016-04-26 18:43] ranchodeluxe commented on #27
@bmxpert1 @zenati and @mbajur

I think I was able to pinpoint the problem if you're using `influxdb-rails` github version 10016d0, but it'd be nice to get some eyes on it. Some of these issues are also mentioned in #25

The extra space on the series name that the error mentions seems to be coming from [this line of code](https://github.com/influxdata/influxdb-ruby/blob/master/lib/influxdb/point_va

[2016-05-25 19:48] anthonator commented on #12
I'm also interested in this. I proposed an application wide config to [influxdata/influxdb-ruby](https://github.com/influxdata/influxdb-ruby) but [they weren't interested](https://github.com/influxdata/influxdb-ruby/issues/143).

[2016-05-25 20:11] thom-nic commented on #12
No I agree that approach is generally a bad idea and in this particular case I don't think it's necessary at all.  influx-rails is managing a singleton that you can configure as documented.  The only piece missing was what I provided in [my comment above](https://github.com/influxdata/influxdb-rails/issues/12#issuecomment-209441132).  I can call `InfluxDB::Rails.client.write_point` all day long to

[2016-06-02 10:44] dilnavazk opened #29 "Influxdb-ruby async options"
Setting async options in the initializer is not working.
[code]
After setting this, there is no change in the workers sleep time. Is this the right setup? Or is this an issue with the library?

[2016-06-02 11:33] dmke commented on #29
influxdb-rails depends on influxdb-ruby version 0.2.x, but the async options became available with 0.3.0.

@toddboom Would you add me to the maintainer list here, too?

[2016-06-02 12:00] dilnavazk commented on #29
The issue is with the dependency over influxdb-ruby version 0.2.x. Solved by updating it to current version. Thanks @dmke

[2016-06-02 12:00] #29 closed

[2016-06-15 20:01] #19 closed

[2016-06-24 00:23] tmc commented on #23
@toddboom is this issue still valid?

[2016-08-05 20:23] #25 closed

[2016-08-05 23:20] tmc commented on #28
@toddboom Hey todd could you cut a new release?

[2016-08-05 23:28] tmc opened #30 "write urls as well?"
- Writing the urls that are being written would be interesting
- Writing current user would be interesting.

Perhaps this library should offer an easy way to control the write_point callsites?

[2016-11-15 21:23] agx commented on #28
influxdb-ruby is on 0.3.x already and it's incompatible with influxdb-rails since several months now. Can we have a 0.1.11 release please?

[2016-11-15 22:12] dmke commented on #28
I will have a look at this on the weekend, I haven't yet had the time to familiarize myself with this codebase.

[2016-11-15 23:01] agx commented on #28
On Tue, Nov 15, 2016 at 02:12:50PM -0800, Dominik Menke wrote:

Great. Since the current version 0.1.10 on rubygems is not functional due to
the changed syntax of write_point just having current git as 0.1.11
would already by a huge improvement.

[2016-11-22 07:15] agx commented on #28
@dmke Any news on this one?

[2016-11-22 20:08] dmke commented on #28
Sorry, not really. I seem to not find a quiet moment lately...

Looking at #32 this should be easy enough, the failing test on MRI 1.9.3 + Rails 4.0 needs to be addressed though.

[2016-11-24 12:13] agx commented on #28
@dmke updated #32 Tests are passing now. Can you spin a new gem?

[2016-11-24 21:33] #28 closed

[2016-11-24 21:35] dmke commented on #28
I've merged PR #32 and am waiting for the specs to finish. Then I'll release a new gem version.

[2016-11-24 21:56] dmke commented on #28
Test are passing, but I've got a permission error when pushing to rubygems.org (I've notified @toddboom about this).

For now, you can use this in your Gemfile until my permissions are sorted:

[code]

[2016-11-24 22:10] dmke commented on #28
Well, v0.1.11 [has just landed](https://rubygems.org/gems/influxdb-rails).

[2016-11-24 22:14] dmke commented on #23
Nope.

[2016-11-24 22:14] #23 closed

[2016-11-25 08:12] agx commented on #28
On Thu, Nov 24, 2016 at 02:10:20PM -0800, Dominik Menke wrote:

Awesome. Thanks a lot!

[2016-11-25 08:18] agx opened #33 "ae3dc5756bfe43407f7992f689c2bc4ae6ff54c9 broke the tests"
ae3dc5756bfe43407f7992f689c2bc4ae6ff54c9 set the default of retry to `true` but this isn't reflected in the tests.

[2016-11-25 09:30] #33 closed

[2016-11-25 09:31] dmke commented on #33
Yikes. It must have been too late yesterday :-)

[2016-11-25 09:35] dmke commented on #33
Ah, this wasn't ready for release anyway, as mentioned [here](https://github.com/influxdata/influxdb-rails/pull/18#issuecomment-262854757).

[2016-11-28 15:02] kbrock commented on #23
Thanks all

[2016-12-14 08:05] dmke commented on #12
What @thom-nic wrote is correct:

Simply put this in your initializer and influxdb-rails won't submit performance metrics.

[2016-12-14 08:05] #12 closed

[2016-12-14 14:26] thom-nic commented on #12
I also added this:
[code]

[2016-12-14 18:28] dmke commented on #12
The middleware only reports exceptions, but yeah: no need to pass the request through that.

[2017-01-24 03:26] chrisarcand opened #34 "Configuration: `database_name` is invalid"
Unless the purpose is much different from what it seems, the method [`database_name` in the configuration API](https://github.com/influxdata/influxdb-rails/blob/e9e11a71e02698b45f0760a58194b0734a7398e0/lib/influxdb/rails/configuration.rb#L142-L144) serves no purpose and is invalid, as `influxdb_database` is really the option that matters. `application_id` is also not used anywhere else.

I didn't

[2017-01-24 18:54] chrisarcand opened #35 "Logger set in config not respected"
I'm setting up an initializer (from https://github.com/influxdata/influxdb-rails#usage) and no matter what I do, it seems I can't configure the logger as I expect:

[code]

I still get incessant DEBUG logging sent to STDOUT, seemingly from here: https://github.com/influxdata/influxdb-ruby/blob/fa3c3f0b404aa87d8faa2272e556b884e3c961cd/lib/influxdb/logging.rb#L11-L14

Any tips here? I've also tried

[2017-01-24 21:44] dmke commented on #35
Hi, thanks for reporting this.

The issue seems to be a logic mismatch in what `InfluxDB::Logger` and `InfluxDB::Rails` interpret as "I don't want logging":

- `InfluxDB::Logger` is disabled [by setting `logger = false`](https://github.com/influxdata/influxdb-ruby/blob/fa3c3f0/lib/influxdb/logging.rb#L12)
- `InfluxDB::Rails` expects [setting `config.logger = nil`](https://github.com/influxdata/inf

[2017-01-24 21:51] dmke commented on #34
This looks to me as an refactoring artifact.

Since it really seems not to be used (anymore), I'm all for removing it in a future release. For the near future, I'd issue a warning, either to `STDERR.puts` or using [`Module#deprecate` from ActivSupport](http://api.rubyonrails.org/classes/Module.html#method-i-deprecate).

A pull request is very welcome :-)

[2017-01-24 21:55] chrisarcand commented on #34
👍 Making sure there wasn't some hidden intent I was missing 😄

[2017-01-24 22:03] chrisarcand commented on #35
I should have included this previously...

I figured that sort of solution also, and sadly ran in to a `NoMethodError` when trying `InfluxDB::Rails.client.logger = false` as above. The reason is that [the writer is on the singleton class of the Logging module](https://github.com/influxdata/influxdb-ruby/blob/fa3c3f0b404aa87d8faa2272e556b884e3c961cd/lib/influxdb/logging.rb#L7-L9), not accessible on

[2017-01-24 22:31] dmke commented on #35
Indeed.

I'm going to take a closer look, and maybe refactor the `Logging` module.

[2017-01-24 23:23] chrisarcand commented on #35
I debugged a bit and found that without any changing of configuration it defaults to using `ActiveSupport::Logger` [as is expected from the railtie.](https://github.com/influxdata/influxdb-rails/blob/e9e11a71e02698b45f0760a58194b0734a7398e0/lib/influxdb/rails/railtie.rb#L13). `InfluxDB::Logging.logger` (used by this gem) is the ActiveSupport logger, and it's what used to log the nonstop worker log

[2017-01-25 00:06] chrisarcand commented on #35
One more observation before I just nod my head and agree with you that the Logging module just needs to be refactored entirely: Theres some funny business with the instances that I mentioned above as when I run `RAILS_ENV=production`, even though the logger level (`Rails.logger.level`) is set to INFO (`1`), the DEBUG (`0`) messages continue to pour in to STDOUT. So it must be using a different log

[2017-01-25 19:56] dmke commented on #35
Hm... the logger instantiating here is quite... convoluted. I need to setup a Rails app and manually step through the code to wrap my head around this issue :-)

I'm currently on a thight time budget though, so it may take a few days before can report on progress.

[2017-01-25 20:30] chrisarcand commented on #35
No worries; I understand as I would have submitted some changes if I weren't in the same boat 😜

For my purposes I've done a temporary hack and will circle back around when I can.

[2017-01-26 21:39] #34 closed

[2017-03-14 16:40] #27 closed

[2017-06-07 20:00] Plummat opened #36 "How to add fields?"
Does this gem have support for field metadata?

https://docs.influxdata.com/influxdb/v1.2/concepts/glossary/#field

[2017-06-07 21:10] dmke commented on #36
No (not yet at least). Do you have something concrete in mind? It should be possible to provide callbacks for extra tags and fields (fields are named `values` in the underlying `influxdb` gem).

For the time being, you can easily add a `before/around/after_action` to your controller and write a point manually via `InfluxDB::Rails.client.write_point`. I can see the problem though, that you might lo

[2017-06-07 21:13] dmke commented on #36
In #30, something similar was requested. I'm accepting PRs for this, if you want to take a look :-)

[2017-08-04 11:20] vassilevsky opened #38 "Idea: A Series that tracks new model creation"
1 new model = 1 event sent to InfluxDB. Model class is a field.

Pretty useful metric.

[2017-08-04 15:54] dmke commented on #38
I don't know if that is universally useful. InfluxBD tracks time series, not events.

A time series metric would be the total number of model records over time, which could easily be implemented as such:

[code]

*However*, if the question you'd want to answer is "how many Users have registered between X and Y?", you propably need to fall back to SQL anyway, because a typical User registration is

[2017-08-19 14:34] dmke commented on #35
I belive this is now fixed. The next `influxdb-rails` release will depend on `influxdb` v0.4, which brings in a new log level knob, which can be setup independently from Rails' log:

[code]

[2017-08-19 14:34] #35 closed

[2017-08-19 14:37] #38 closed

[2017-08-19 14:38] dmke commented on #38
Closing this now.

If you ever come around to building this (and releasing it as gem), let me know. I'll add it to the readme :-)

[2018-02-14 07:53] dmke opened #45 "1.0 Todos"
*(incomplete, needed a place to dump some notes/ideas)*

The 1.0 release will require Ruby 2.2.

- [x] remove `alias_method_chain` altogether (see #31), as `Module#prepend` is always available
  - the `ActionDispatch::DebugExceptions` lookup shenanigans in `lib/influxdb/rails/railtie.rb` can be simplified: AD::DE was introduced in Rails 4, and is always present
  - no need for `InfluxDB::Rails::Mi

[2018-02-26 13:46] kaspergrubbe commented on #45
Hi @dmke , thanks for this gem.

Can I come with a suggestion?

It would be cool to mention the different error scenarios somewhere. When I checked out the gem the first thing I tried to figure out was:

- Does errors affect my running Rails service?
- What happens in case of a connection interruption (retries, connect problems, interruptions)? Does it run in the background, or does it blow up and

[2018-02-26 13:59] dmke commented on #45
This is a great point. Here's a first draft around the error scenarios:

Will continue later, when I'm back home.

[2018-02-26 14:07] kaspergrubbe commented on #45
That is great! You don't happen to have a Patreon or maybe just a Paypal I can send a small "thanks for your contribution" towards?

[2018-02-26 14:09] dmke commented on #45
I don't want any money for this, a simple "thank you" (or better a code contribution :-)) is fine.

[2018-02-26 20:41] dmke commented on #45
@kaspergrubbe I've added an [FAQ section](https://github.com/influxdata/influxdb-rails#frequently-asked-questions) to the README. Did I miss something?

[2018-02-26 23:56] kaspergrubbe commented on #45
I think it is written in a really clear and concise way, and it would have answered all my questions. Thanks for adding it, @dmke ! 👍

[2018-02-27 06:59] #45 closed

[2018-06-18 06:49] Mukulkaushish opened #46 "how to handle all exceptions in influxdb-rails?"
i got this issue:
Cannot write data: #<InfluxDB::Error: {"error":"database not found: \"rails\""}

so I used rescue but not working

           begin
            influxdb.write_point(db_name,data)
           rescue InfluxDB::Error => e
             puts e.errors
           end

[2018-06-18 08:57] dmke commented on #46
This should work. All errors are subclassed from `InfluxDB::Error` (see [definition here](https://github.com/influxdata/influxdb-ruby/blob/master/lib/influxdb/errors.rb)).

What version of `influxdb-rails` *and* `influxdb-ruby` are you using?

I also noted `puts e.errors`; the [Exception](http://ruby-doc.org/core/Exception.html) class however does not have such a method. What is your exact error o

[2018-06-20 15:53] Mukulkaushish commented on #46
It would be better if you tell me how to deal with an exception.
Basically, I got this issue "Cannot write data: #<InfluxDB::Error: {"error":"database not found: "rails""} " in log file.
and I want to handle this type of issues by using the rescue. but never calls rescue part.

[2018-06-20 18:12] dmke commented on #46
All possible exceptions which could occour when writing points are listed in [`InfluxDB::HTTP`](https://github.com/influxdata/influxdb-ruby/blob/master/lib/influxdb/client/http.rb):

- method `post` (l. 24ff) is your entry point
- `connect_with_retry` performs the HTTP transfer and wraps any connection errors in an `InfluxDB::ConnectionError` (l. 55 and 59)
- if the server response indicates missi

[2018-06-26 05:09] Mukulkaushish commented on #46
ruby version: 2.5.1
influxdb-rails 0.4.3
influxdb 0.5.3

[2018-09-12 23:02] jjculber opened #48 "Multiple Series vs Field Values"
Hi, I'm curious what advantages there are to posting the controller, db, and view data as separate series? (see https://github.com/influxdata/influxdb-rails/blob/master/lib/influxdb-rails.rb#L99)

I'm still learning influxdb, but it seems possible to save it as a single series with multiple field values instead of a single one named `value`. My reasoning behind the question is I believe the values

[2018-09-13 06:35] dmke commented on #48
You're right, a common measurement would be more sensible. The decision to split the timing across multiple measurements was made long before I started maintaining this library. So for the sake of existing tools there's no easy way to change this.

As a workaround, you could do this with a `CONTINUOUS QUERY` and copy the timing values into a common measurement, from where you can easily calculate

[2018-09-13 16:36] dmke commented on #48
I might add another way to store the timing values, by (conditionally) writing into a 4th measurement. To keep backward-compatibility, the user would need to opt-in via configuration, like so:

[code]

where "multi-series" would be the current split across three series (and the default value). For "single-series", only `series_name_for_runtimes` would be written to. "both" would write to all four

[2018-09-24 01:27] jjculber commented on #48
If anyone happens to find this later, I found a workaround in grafana so I don't need to do any math. I can set a Series Override for rails.controller to set `stack: false` and turn stacking on in the draw options and the result graph looks correct.

[2018-11-22 10:48] ChrisBr opened #51 "Add more active support instrumentation data"
Currently the db & view data is coming from [ActiveSupportInstrumentation#process-action.action-controller](https://edgeguides.rubyonrails.org/active_support_instrumentation.html#process-action-action-controller) event. This only tells you that all DB queries  / View took N amount of time.

However, ActiveSupport also offers more events which allow to get more granular data:

* https://edgeguides.

[2018-11-22 21:17] dmke commented on #51
This looks interesting. I've just raised the minimal supported version from 4.0 to 4.2, so you can assume these keys exist:

- https://guides.rubyonrails.org/v4.2/active_support_instrumentation.html#process-action-action-controller
- https://guides.rubyonrails.org/v4.2/active_support_instrumentation.html#action-view

[2018-11-22 21:37] ChrisBr commented on #51
Yes, the query would need to get 'cleaned', so e.g. replace / unify values. For instance what is described here:
* http://stevenyue.com/blogs/tracking-sql-queries-in-rails/
* https://github.com/steventen/sql_tracker
Would that be more useful or neglecting SQL instrumentation for now?

Ok, will have a look at the action view instrumentation.

As I understand, https://guides.rubyonrails.org/v4.2/act

[2018-11-22 21:59] dmke commented on #51
Hm, I'm hesitant to pull in external dependencies. If its feasible to wrap the query tracking in a `defined?(SqlTracker)` conditional (which leaves the decision to add this dependency to the host application), then go for it.

Indeed, I've merged your PR half an hour ago.

[2018-11-30 22:36] dmke opened #56 "Rethink :series_name_for_x configuration"
I'm contemplating to reduce the number of config options for the series this gem writes creates:

https://github.com/influxdata/influxdb-rails/blob/cbfd10b6a9611ae52b202896c98b6ff29e3d0a29/lib/influxdb/rails/configuration.rb#L19-L23

with these default values:

https://github.com/influxdata/influxdb-rails/blob/cbfd10b6a9611ae52b202896c98b6ff29e3d0a29/lib/influxdb/rails/configuration.rb#L63-L67

##

[2018-12-01 11:40] dmke commented on #46
Sorry for letting you hang here, I forgot about this issue.

Turns out, I've misread the initial description. The error `database not found: "rails"` indicates that you don't have a db with that name *on the server*. To create one, execute the following command:

[code]

[2018-12-01 11:40] #46 closed

[2018-12-01 11:46] dmke commented on #30
Writing URLs turned out to be not a good idea. In sufficiently large Rails apps, you'll quickly exhaust tha tag limit on the server (see #54). Since we already write the controller and action name to InfluxDB, the actual URL does not provide much additional information.

[2018-12-01 15:35] ChrisBr commented on #56
This would be a HUGE benefit. We still struggle to build a meaningful dashboard :cry: Our public openSUSE Grafana dashboard is located here if you want to have a look:

https://metrics.opensuse.org/d/qjkd7uBmz/rails-metrics?orgId=1&from=now%2Fd&to=now%2Fd

I would volunteer to helper here but definitely need some guidance as I'm still new to InfluxDB and Grafana unfortunately.

[2018-12-07 19:30] #51 closed

[2018-12-07 22:44] #30 closed

[2018-12-09 20:42] ChrisBr opened #59 "Expose current location cache"
Shall we expose and document the location cache implemented in: https://github.com/influxdata/influxdb-rails/pull/53/commits/4226a5ceda34f409e34494ee20f848031a01ffad

I think this could be potentially useful for people implementing their own subscriber without the need to dig into the code. Thinking about a method / methods like:

[code]

[2018-12-09 20:53] ChrisBr commented on #56
I would also like to refactor the ``SimpleSubscriber`` to be useful out of the box and users can just subscribe to any ActiveSupport hook like this:

[code]

The tags would be an array of the tags which should be extracted from the notification data. The normalizer is a proc which gets called with the data and optinally transforms it.

Not sure yet how the data will be structured in the influxdb t

[2018-12-09 22:02] dmke commented on #59
That's a good idea.

[2018-12-10 09:13] ChrisBr commented on #56
Yep, right. What about adding a blacklist of keys from Active Support instrumentation and write an error message to the logs? The user could still misuse it but at least they get an notification. The blacklist would e.g. contain ``[:identifier, :id, :key, :to, :from, :cc, :bcc, :date ...]. I don't think that the black list would be extensive ...

[2018-12-10 09:19] ChrisBr commented on #59
Ok, I will provide a PR for that then.

[2018-12-10 09:30] dmke commented on #56
Unless it's an exception, I doubt most users will ever look into the `production.log` (then again, the typical use case for this gem isn't the 15-minute blog app). Also, silently dropping the data points would not be what the user expects. If they normalize some value, they'll wonder why that value doesn't show up in the server measurement, only to discover after hours of debugging, that the key i

[2018-12-10 09:30] dmke commented on #56
Btw. let me move this conversation to another issue.

[2018-12-10 09:31] dmke opened #60 "Generalize SimpleSubscriber"
From @ChrisBr:

[2018-12-10 09:32] dmke commented on #60
That's a useful addition.

At its core, it's "just" a key-value store. Some keys are special, in that their associated values con only be strings, but are indexed (tags), one key is used for absolute ordering (time), and the other keys may hold arbitrary values (fields).

The challenge, if we open that for general use, is to communicate the distinction between tags and fields. Tags should, general

[2018-12-10 09:33] dmke commented on #60
Unless it's an exception, I doubt most users will ever look into the `production.log` (then again, the typical use case for this gem isn't the 15-minute blog app). Also, silently dropping the data points would not be what the user expects. If they normalize some value, they'll wonder why that value doesn't show up in the server measurement, only to discover after hours of debugging, that the key i

[2018-12-10 09:41] dmke commented on #59
Maybe create a class with this interface:

[code]

and expose it via

[code]

We could then (later) easily define a `current.extra = hash` and make it available for users to solve #36. Similar to how `sentry-raven` works: https://github.com/getsentry/raven-ruby/blob/master/lib/raven/context.rb.

[2018-12-12 15:02] #59 closed

[2018-12-12 15:02] #36 closed

[2019-01-16 15:02] dmke commented on #56
Here's where I left the `refactor/measurements` branch:

1. I've updated the README to reflect the targeted changes (documentation driven design :-)).
2. I've refactored the configuration. This is mostly DRY'up, but I also already removed the `:series_name_for_*` keys, and introduced `:report_*` keys.
3. I've started to tackle failing specs, but there's [still a lot to do](https://travis-ci.org/in

[2019-01-16 15:09] ChrisBr commented on #56
Ok, so do I get it right that there are basically only fixing the failing specs left?

[2019-01-16 15:11] ChrisBr commented on #56
I know you're busy but could we get https://github.com/influxdata/influxdb-rails/pull/65 & https://github.com/influxdata/influxdb-rails/pull/64 merged before I continue with this one? Otherwise I fear we probably get quite some merge conflicts....

[2019-01-16 15:40] dmke commented on #56
That and a guide describing how existing users can migrate pre-1.0 data. Maybe add a piece of code that does this.

Sure, I'll do so when I'm back home.

[2019-01-16 18:43] dmke commented on #56
I've merged the PRs and rebased the refactoring branch onto master.

[2019-03-26 12:08] hennevogel opened #67 "Samples"
For some high throughput apps it would make sense to be able to specify a sample size. Something like

[code]

[2019-06-25 12:33] hennevogel opened #69 "1.0 Release?"
From #22

"I love deadlines. I love the whooshing noise they make as they go by." ― Douglas Adams :wink:

Do you still have any plans to relase 1.0 @dmke? Would be nice to get off @ChrisBr's custom copy gem for us. I also wait for this for https://github.com/hennevogel/influxdb-rails-dashboard somehow...

[2019-06-26 19:34] dmke commented on #69
See https://github.com/influxdata/influxdb-rails/pull/66#issuecomment-506013919 (tl;dr: I'm looking for a new maintainer).

[2019-07-01 15:47] ChrisBr commented on #69
I created this GH project to gather what needs to be done before we release 1.0:

https://github.com/influxdata/influxdb-rails/projects/1

[2019-07-01 15:47] #69 closed

[2019-07-01 15:47] ChrisBr commented on #67
Should that be part of 1.0?

[2019-07-01 15:50] ChrisBr opened #70 "Final release 0.4.99 release"
We could also release a final 0.4.99 version introducing these deprecations, much like RSpec did transitioning from v2 to v3.

http://rspec.info/blog/2013/11/rspec-2-99-and-3-0-betas-have-been-released/

https://github.com/influxdata/influxdb-rails/pull/66 will introduce breaking changes, so we should think about the last beta release.

[2019-07-01 15:53] ChrisBr opened #71 "Write upgrade guide"
1.0 will introduce some breaking changes, we need to write an upgrade guide.

[2019-07-02 13:35] hennevogel commented on #67
Nah I don't think so...

[2019-07-02 14:23] hennevogel opened #72 "Merge sample dashboard"
I have a sample performance dashboard making use of `influxdb-rails`, we should merge it in here.

https://github.com/hennevogel/influxdb-rails-dashboard

[2019-07-02 14:27] hennevogel commented on #71
I'll get something going...

[2019-07-24 10:50] hennevogel opened #73 "Drop Exceptions"
While refactoring things for #56 I was trying for a brief time to unify subscriptions to `ActiveSupport` instrumentation and `HijackRenderException` and I started to wonder: Why do we do full blown exception tracking with this gem in a time series database? There are plenty of services, even FOSS ones, that do this ([errbit](https://github.com/errbit/errbit) || [sentry](https://sentry.io)) in a mu

[2019-07-24 10:51] hennevogel commented on #73
I guess I'm talking to you @ChrisBr :smile:

[2019-07-24 12:02] ChrisBr commented on #73
Yeah, this also confused me a little bit. No idea what the purpose of this feature was / is. So what do you wanna do? Drop the whole `HijackRenderException` tracking?

[2019-07-24 12:17] hennevogel commented on #73
Either drop everything or I thought maybe injecting a custom `ActiveSupport` hook (something like `exception.influxdb_rails`) and a new `ExceptionSubscriber` that measures some of the stuff from `ExceptionPresenter.dimensions` and `ExceptionPresenter.values` as values/tags.

[2019-08-09 16:50] hennevogel opened #74 ""raw" SQL time vs. ruby times"
Something we could consider...

https://twitter.com/nateberkopec/status/1159858382637076481?s=19

[2019-08-09 20:55] hennevogel opened #76 "Ship a sample rails app with the demo"
Not sure people always have a sample rails app. We should ship a  sample app based on a [rails application template](https://guides.rubyonrails.org/rails_application_templates.html) and the [ruby image](https://hub.docker.com/_/ruby/).

[2019-09-18 14:11] hennevogel commented on #70
The deprecation message should link to something like https://github.com/influxdata/influxdb-rails/wiki/1.0-Changes

[2019-09-18 15:13] #72 closed

[2019-09-20 15:14] hennevogel commented on #76
Fixed in #75

[2019-09-20 15:14] #76 closed

[2019-09-20 15:16] hennevogel commented on #56
Fixed in #66

[2019-09-20 15:16] #56 closed

[2019-09-23 13:21] hennevogel commented on #71
Working here

https://github.com/influxdata/influxdb-rails/wiki/Changelog

[2019-09-23 18:10] hennevogel commented on #71
@dmke you think we should mention anything else?

[2019-09-23 20:36] dmke commented on #71
This looks great!

I'd keep a list of used hooks somewhere, so that users don't need to grep the source code to find out what can and cannot be disabled ("What can I stick into `ignored_hooks`?).

[2019-09-23 21:27] ChrisBr commented on #71
Is this true? I thought this will crash / break?

Also, in your table you mention `exceptions` in the 1.0 column but in the previous paragraph you say we dropped it, that sounds confusing 🤔 Do you mention it because we don't delete it or what is the reasoning? I would mention in the table that it is not used anymore. I would also mention that we support now an official dashboard (where you say `so

[2019-09-24 08:09] hennevogel commented on #71
They are already in README.md, I should point to this!

[2019-09-25 15:02] hennevogel commented on #71
True.

[2019-09-29 13:43] hennevogel opened #83 "Final 1.0 beta release"
When pushing 0.4.99, let's also push 1.0 beta 4

[2019-09-29 14:16] hennevogel commented on #71
Added some things from the changelog, this is done.

[2019-09-29 14:16] #71 closed

[2019-10-01 15:27] #73 closed

[2019-10-02 14:23] hennevogel commented on #83
done

[2019-10-02 14:23] #83 closed

[2019-10-02 14:23] hennevogel commented on #70
done...

[2019-10-02 14:23] #70 closed

[2019-10-02 14:25] hennevogel opened #87 "InfluxDB::Rails::Configuration not backward compatible"
There are many changes to the configuration options in 565aeefd3110263ec24b9201ed7488b08dd0aee9 that we have not handled in the [upgrade guide](https://github.com/influxdata/influxdb-rails/wiki/1.0-Upgrade-Guide) and that will make everything crash.

[2019-10-03 03:18] ChrisBr commented on #87
Can you maybe provide a stacktrace etc of what exactly is crashing 😄 Otherwise it is hard to fix 😉

[2019-10-03 03:23] ChrisBr commented on #74
Would be an interesting project how to get the actual SQL time 🤔 I think `sql.active_record` just gives you the overall time.

https://guides.rubyonrails.org/active_support_instrumentation.html#sql-active-record

[2019-10-22 13:36] #87 closed

[2019-11-04 23:32] anlek opened #95 "It seems I'm unable to set the `auth_method` value"
With the following config:
[code]

When my app loads, I get a `undefined method 'auth_method=' for #<InfluxDB::Rails::ClientConfig:0x000055af834ef718> (NoMethodError)`

However, if I remove it and enter a rails console, I can set it to `InfluxDB::Rails.client.config.auth_method = 'basic_auth'` and am able to `write_point` without any issues.

Am I missing something?

[2019-11-06 10:07] hennevogel commented on #95
I guess we shouldn't hardcode client configuration and allow anything you want to pass in so we don't have to run after `influxdb-ruby` options.

[2020-04-15 15:14] radiospiel commented on #95
:+1: on this. That this gem only allows a limited number of configuration options is no benefit to any user. Also, if influxdb-ruby ever changes configuration on their end this gem must follow suit, or else it becomes unusable.

[2020-04-24 17:06] rikikonikoff opened #106 "Grafana "Ruby On Rails Performance (per Request)" does not work from provided link"
I'm in the process of setting up influxdb and grafana for my rails app, and I noticed something quite strange when I tried to import this dashboard that you [link to from your sample-dashboard README](https://github.com/influxdata/influxdb-rails/tree/master/sample-dashboard#installation).

I copied the dashboard id from your "Request Dashboard" link and imported it to my grafana account. It claime

[2020-04-27 10:46] hennevogel commented on #106
hey @rikikonikoff what grafana version are you using?

[2020-04-27 14:02] rikikonikoff commented on #106
@hennevogel 5.2.4

[2020-04-27 14:29] hennevogel commented on #106
I'll test it with that version, might be that this only works with something more recent.

I just successfully imported with 6.7.3

[2020-05-04 22:11] ChrisBr opened #107 "[RFC] Implement plugin system"
Currently we only implement a selection of ActiveSupport instrumentation events but there are several more which might be interesting as well as some apps implement custom events.

We should a possibility to instrument any Active Support instrumentation event.

Proposal for a configuration syntax which is a hash and each key, value pair consists of the event name and a proc which returns a hash wi

[2020-05-04 22:16] ChrisBr opened #108 "[RFC] Implement block instrumentation"
It should be possible to wrap code into a block which gets then stored as a single metric

[code]

[2020-05-04 22:19] ChrisBr commented on #106
@rikikonikoff can you confirm that it works for you with a later Grafana version too?

[2020-05-05 01:31] rikikonikoff commented on #106
I still get the same error - sorry!

[2020-05-05 08:18] ChrisBr commented on #106
@rikikonikoff still 5.2.4 or have you tried with a newer version?

[2020-05-05 10:06] hennevogel commented on #106
I just imported both dashboard into a 5.2.4 instance without a problem. So this must be something with your grafana, nothing we can do about this. Sorry....

[2020-05-05 10:06] #106 closed

[2020-05-05 10:08] hennevogel commented on #106
Here is how:

1. run grafana on http://0.0.0.0:4000
    `docker run -d -p 4000:3000 grafana/grafana:5.2.4`
1. login as `admin` with the password `admin`
1. create a "fake" influxdb data source on http://0.0.0.0:4000/datasources
1. import the dashboard via http://0.0.0.0:4000/dashboard/import

[2020-05-05 11:13] hennevogel commented on #108
Hm, I'm not quite sure how this is different from using influxdb-ruby

https://github.com/influxdata/influxdb-ruby#writing-data

[2020-05-05 11:14] hennevogel commented on #108
We also documented this here https://github.com/influxdata/influxdb-rails#custom-client-configuration

[2020-05-05 11:49] ChrisBr commented on #108
Yes true, but I still need to know quite a bit about influxdb-ruby to do so

* `measurement_name` needs to get passed in
*  Need to merge additional values and tags
* The duration value needs to get calculated

So the whole thing ends up rather ugly or I have to write my own helper in each application.

[2020-05-05 14:41] rikikonikoff commented on #106
Ok, thanks for looking into it

[2020-05-05 19:01] hennevogel commented on #106
sorry we can't be of assistance :disappointed:

would be cool if you let us know when you find a solution @rikikonikoff

[2020-05-07 14:47] ChrisBr opened #109 "Stringify metrics in test client"
In our specs we use a test client to test if metrics were successfully written.

https://github.com/influxdata/influxdb-rails/blob/1c9d6997c4add19f9189f1c62b2adff22644635e/spec/support/test_client.rb#L8-L10

The test client is basically just an array with hashes. To simplify our specs we also have a custom rspec matcher `expect_metric`.

https://github.com/influxdata/influxdb-rails/blob/1c9d6997c4

[2020-05-13 06:57] ChrisBr opened #117 "Group metrics per request"
The request id is a unique UUID and therefore we store it in a field. Unfortunately fields can not be grouped in InfluxDB. For ActiveRecord SQL, the data schema looks for instance like this

| requed_id  | name | location | value
| ------------- | ------------- | ------------- | ------------- |
| 123-456  | Post Load  | PostController#index | 100
| 123-456  | Post Load  | PostController#index | 80

[2020-07-14 13:31] radiospiel opened #119 "influxdb-rails is breaking tests in Rails app."
This is what happens:

- I run rspec in the target app (a Rails app);
- rspec loads the app and all of its gems, executing their Railsties, if present;
- when loading the `influxdb-rails` gem it is loaded it is running its Railstie...
- which uses `Rails.env` to determine the target environment.

All of this happens before our spec_helper even has a chance to run; this file has a `ENV["RAILS_ENV"]

[2020-07-14 14:24] radiospiel commented on #119
On further inspection I found that our test setup was, well, suboptimal. Moving up the `ENV["RAILS_ENV"] ||= "test"`in spec_helper resolves the issue as one would expect.

[2020-07-14 14:24] #119 closed

[2020-07-18 14:29] hennevogel opened #120 "ActionMailer subscriber"
[deliver.action_mailer](https://guides.rubyonrails.org/active_support_instrumentation.html#deliver-action-mailer) sounds like something we should send

[2020-09-12 12:09] hennevogel commented on #108
Will be shipped in 1.0.1

[2020-09-12 12:09] #108 closed

[2020-09-12 12:10] hennevogel commented on #74
Measuring instantiation is all we can do for now I guess.

[2020-09-12 12:10] #74 closed

[2020-09-12 12:12] hennevogel commented on #120
Will be shipped in 1.0.1

[2020-09-12 12:12] #120 closed

[2020-09-12 12:12] hennevogel commented on #60
This is handled a bit differently in #107 now

[2020-09-12 12:12] #60 closed

[2020-10-23 19:34] hennevogel opened #138 "Adopt sample dashboards to 1.0.1"

[2021-01-06 22:45] jmarbach opened #153 "InfluxDB: Cannot write data"
Hi,

I am trying to connect my rails app to my InfluxDB that I set up with Aiven.

When I run `rails server` with my InfluxDB config, I get the following errors in my logs in development and production:

[code]

My config:

[code]

Any ideas on how I can resolve this config issue?

[2021-01-07 10:59] hennevogel commented on #153
This points¹ to `EOFError`, the server does not answer or only answers garbage. Or `Zlib::Error`, the server sends incorrectly compressed answer. You should check both.

Does sending data with curl or any other low level network tool work?

¹ https://github.com/influxdata/influxdb-ruby/blob/b708621c891b2b6c486fff75528e1a143ac576cd/lib/influxdb/errors.rb#L32-L38

[2021-01-07 12:09] chornsby commented on #153
The InfluxDB services on Aiven all run with [HTTPS enabled](https://docs.influxdata.com/influxdb/v1.8/administration/https_setup/) so you'll need to add `use_ssl = true` to the configuration.

[code]

Since enabling HTTPS is strongly recommended in the InfluxDB documentation perhaps we could make the option more easily discoverable by adding it to the [initial configuration scaffold](https://githu

[2021-01-07 12:12] ChrisBr commented on #153
@chornsby brilliant idea 👍  If you're keen, please send a PR and I will be happy to merge.

[2021-01-07 12:33] chornsby commented on #153
Sure thing, very keen! :smile:

[2021-01-07 12:47] ChrisBr commented on #153
Fixed in https://github.com/influxdata/influxdb-rails/pull/154

[2021-01-07 12:47] #153 closed

[2021-01-07 12:47] ChrisBr commented on #153
Thanks everyone 👏

[2021-02-02 08:26] brocktimus opened #158 "Support for Influx DB 2.0"
Hiyo,

Just wondering if there was any plans for supporting Influx DB 2.0? I noticed that it requires a different client library and it's API is quite different too.

However this library doesn't interact with a huge surface of said API, so similar to the TestClient it might be possible towrite an InfluxDB2 Client which implemented write, which seems to be the only method needed. But unsure how yo

[2021-02-06 16:43] hennevogel commented on #158
As InfluxDB < 1.8 doesn't seem to be a thing anymore, we should probably just swap out the client library? @ChrisBr thoughts?

[2021-02-06 17:18] ChrisBr commented on #158
I don't use InfluxDB anymore. Are you folks happy to use InfluxDB > 2 at openSUSE?

Yeah maintaining only one version would be easier than two so definitely happy to drop support for 1.8 if we decide to go for 2.0. Should be easy to swap, right (famous last words ...)?

[2021-02-06 17:51] hennevogel commented on #158
We would only drop 1.7, 1.8 is supported by https://github.com/influxdata/influxdb-client-ruby

[2021-02-06 17:59] hennevogel commented on #107
I guess nothing stops you from subscribing to events and use block instrumentation now right?

[2021-02-06 18:01] ChrisBr commented on #107
Yeah makes sense!

[2021-02-06 18:01] #107 closed

[2021-02-14 15:18] ChrisBr commented on #158
Initial support https://github.com/influxdata/influxdb-rails/pull/160. Still some stuff left to fix though.

[2021-03-24 12:57] hennevogel opened #168 "Use ActiveSupport::Subscriber"
We could get rid of a lot of code in `InfluxDB::Rails::Railtie` if we inherit from `ActiveSupport::Subscriber` in our own `Subscriber` classes and subscribe to the events in that way.

[2021-03-24 13:11] hennevogel commented on #168
And together with `concurrent-ruby` we could truly move out of the way of the request cycle with our stuff...

[code]

[2021-07-01 23:05] macmartine opened #173 "'invalid number' error when loading Rails page using influx-20 branch"
I'm using the influxdb-20 branch. It connects fine and send a little data, but then throws this guy:

`InfluxDB2::InfluxError: unable to parse 'rails,format=html,hook=process_action,http_method=GET,location=DashboardController#show,method=DashboardController#show,server=pop-os,status=200 controller=2549i,db=1838i,request_id="5ab55ec7-000a-4d78-a4c5-22fb0035c1a8",started=2021-07-01 22:54:29 UTC,vie

[2021-07-02 00:26] ChrisBr commented on #173
Thanks @macmartine. I will have a look at this tomorrow, very odd but seems related to the new client.

[2021-07-02 02:49] macmartine commented on #173
@ChrisBr I narrowed it down to the 'start' variable. Here's the end of the payload that's causing the error:

`'rails,format=html,hook=process_action,http_method=GET,location=Setup::AdvocatesController#index,method=Setup::AdvocatesController#index,server=pop-os,status=200 controller=386i,db=59i,request_id="4acb8c77-f05d-4bc9-99af-23a333a83772",started=2021-07-01 23:55:49 UTC,view=19i 1625183749598

[2021-07-03 02:34] ChrisBr commented on #173
@macmartine can you check what type `start.utc` is because if it's a `Time` object it should get automatically escaped now.

https://github.com/influxdata/influxdb-client-ruby/blob/3c5ba14273b5b65c53f608eb00827eeb65aceb42/lib/influxdb2/client/point.rb#L195-L217

`convert_timestamp` was a method from influxdb-ruby (1.0). In influxdb-client-ruby (2.0) we don't need / have this method anymore and it

[2021-07-03 02:35] ChrisBr commented on #173
Also which Rails version are you using?

[2021-07-07 01:10] ChrisBr commented on #173
Any update @macmartine ?

[2021-07-07 03:21] macmartine commented on #173
@ChrisBr Sorry, I was just experimenting with this and not using it anymore at the moment.
Rails version: 5.2.4.5

Thanks!

[2021-07-08 11:46] hennevogel commented on #173
`started=2021-07-01 23:55:49 UTC` looks weird, this should be EPOCH instead.  Are we missing an `.to_i` somewhere?

[2021-07-08 13:11] ChrisBr commented on #173
@hennevogel as mentioned, this should be handled by the new client as long as this is a time object.

https://github.com/influxdata/influxdb-client-ruby/blob/3c5ba14273b5b65c53f608eb00827eeb65aceb42/lib/influxdb2/client/point.rb#L195-L217

My suspicion is that this is a String. But as it's coming from Rails it should be a time object.

[2021-07-21 04:33] fffx opened #174 "Default tags overrided user's tags"
When I use `InfluxDB::Rails.instrument`  in a background process, I would like to override the default location
[code]

but the `location` tag will override by `raw`.  Could consider  change [config.tags_middleware.call(tags.merge(default_tags))](https://github.com/influxdata/influxdb-rails/blob/860a6d41e789de052a61f39a1ce1ccf69102b75a/lib/influxdb/rails/tags.rb#L21)
 to `config.tags_middleware.ca

[2021-07-21 12:13] ChrisBr commented on #174
I think this makes sense. I can change it.

[2021-11-20 19:22] michaelbaisch opened #187 "Relative Links not working with a Grafana subpath"
Hello,

I noticed that links between the various dashboards are not working for me, because my Grafana instance is served from a subpath. This could easily be fixed by removing the `/` from the start of the urls.

See this discussion: https://githubmemory.com/repo/algenty/grafana-flowcharting/issues/237

An additional thought - I would prefer `linkTargetBlank: false` since it's easy to open a link

[2021-11-28 16:13] michaelbaisch opened #188 ""Errors" in Requests per … Panel"
Hello everyone,

I was noticing red bars in the `Requests per…` Panel in the `Ruby on Rails Performance` dashboard. Digging into it it seems that only rows with `status = 200` are considered "success" and everything else is an "error". I have a few requests where `status` is `null` (which actually should be `302`) and some `302`.

I would suggest counting `302` status requests also as "success", s

[2021-12-01 17:19] michaelbaisch opened #189 "Missing `status` when warden redirects"
Hello again,

looking at entries with `process_action` == `hook`, I noticed that the `status` is missing for entries that were redirected with the warden middleware. For redirects within my application with `redirect_to`, `status` is correctly set to `302`.

I'm not too familiar warden and influxdb-rails/ActiveSupport::Notifications, but my guess is that it's due to the fact that it's another midd

[2021-12-01 17:26] ChrisBr commented on #189
So the entry is there but with the wrong status?

[2021-12-01 17:27] ChrisBr commented on #188
@hennevogel not too familiar with the dashboards but is something you want / can change?

[2021-12-01 17:33] ChrisBr commented on #189
Can you provide the Rails and devise versions you're using?

[2021-12-01 18:15] michaelbaisch commented on #189
Yes the entry is there but `status` is empty. I also just noticed that `request_id` is also empty, that's maybe related.

rails (6.1.4.1)
devise (4.8.0)

[2021-12-01 18:18] ChrisBr commented on #189
`request_id` is empty because it's set by a monkey patch in the application controller which we never hit in this case. The status is pulled from the [process-action-action-controller](https://edgeguides.rubyonrails.org/active_support_instrumentation.html#process-action-action-controller) event which we seem to receive just without the status.

I will have a look into it but at this point I'm not

[2021-12-03 19:05] #187 closed

[2021-12-03 19:05] #188 closed

[2022-04-18 09:04] michaelbaisch opened #200 "Wrong number of Jobs Executed and Mails Sent"
Hello,

I noticed when scheduling a bunch of jobs where each sends one mail, the stats in the Performance Dashboard on jobs executed and mails sent is incorrect. The affected visualizations are the two stats at the top and the mail and job graph in the bottom left.
What seems to be happening is that when a bunch of jobs are executed in one batch, they are counted as a single job and for some reaso

[2022-04-21 14:17] ChrisBr commented on #200
Thanks for reporting this @michaelbaisch. Would need to look into this first.

[2022-10-11 06:53] fpietka opened #203 "Support UDP / discard_write_errors"
It would be nice to add UDP support, and also the `discard_write_errors` support too. This could add more performance and also avoid spamming the logs it the influxdb server goes down.

[2022-10-11 08:17] ChrisBr commented on #203
Open for adding the support. Feel free to submit a PR if you have time.

[2022-11-15 20:45] Anaisdg opened #204 "Identify repo owner and move to InfluxCommunity org"
The v1 client libraries for InfluxDB were typically developed and maintained by community members. They have all now been succeeded by v2 client libraries developed and maintained by InfluxData in partnership with Bonitoo.

If there are still users of this v1 client library, and they or somebody else are willing to keep them updated with security fixes at a minimum, this code should be moved to ht

[2022-11-16 07:03] ChrisBr commented on #204
Yes there are.

<img width="1108" alt="image" src="https://user-images.githubusercontent.com/3799140/202108692-e8b16a90-5808-4aaf-9207-2c2e61aa31b5.png">

@hennevogel and I have put quite some significant work into this and influxdb-rails gem so it's a bit harsh to come in and request this gem gets transferred to new maintainers. That's an interesting take of influxdb on open source.